<main class="container py-4">
  <h1 class="my-2">Blooms</h1>
  {{#each blooms}}
    <div class="my-2 p-2 border bg-light rounded shadow">
      <div class="mb-2" style="padding-bottom: 10px;">
        <button class="btn btn-success" style="margin-top: 10px;" onclick="addToWishList('{{this._id}}')">Add to Wish List</button>
      </div>
      
      <img src="{{this.image}}" alt="{{this.plantName}}" style="width:100%; max-width: 300px; height: auto;">
      <h3>{{this.plantName}}</h3>
      <p>{{this.description}}</p>
      <p><strong>Regions:</strong> 
        {{#each this.region}}
          {{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
      </p>
      <p><strong>Benefits:</strong> 
        {{#each this.benefits}}
          {{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
      </p>
      <p><strong>Growing Conditions:</strong> {{this.growingConditions}}</p>

      <p><strong>Price:</strong>
        {{#if this.pricePerSeedPacket}}
          ${{this.pricePerSeedPacket}} per Seed Packet
        {{/if}}
        {{#if this.pricePerBareRootPlant}}
          {{#if this.pricePerSeedPacket}} and {{/if}}${{this.pricePerBareRootPlant}} per Bare Root Plant
        {{/if}}
        {{#unless this.pricePerSeedPacket}}{{#unless this.pricePerBareRootPlant}} Price not available {{/unless}}{{/unless}}
      </p>

      <div class="d-flex justify-content-between">
        <a class="btn btn-dark" href="/blooms/{{this._id}}">Learn More</a>
        <button class="btn btn-primary" onclick="addToCart('{{this._id}}')">Add to Cart</button>
      </div>
    </div>
  {{/each}}
</main>
<script>
        function addToWishList(bloomId) {
            fetch(`/dashboard/addToWishList/${bloomId}`, { method: 'PUT' })
                .then(response => response.json())
                .then(data => alert(data.message))
                .catch(error => console.error('Error:', error));
        }

</script>

