<div class="container py-4">
    {{#if isAdmin}}
        <!-- Admin Dashboard -->
        <h1>Admin Dashboard</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }} </p>
        <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
        <p>Role: {{ user.role }}</p>
        <p>Blooms:</p>
        <a class="btn btn-primary my-2" href="/blooms/add">Add New Bloom</a>
        {{#each user.blooms}}
            <div class="my-2 p-2 border bg-light rounded shadow">
                <p class="lead">{{this.name}}</p>
                <p>{{this.description}}</p>
                <a class="btn btn-warning" href="/blooms/update/{{this._id}}">Update</a>
                <button class="btn btn-danger delete-bloom" data-doc="{{this._id}}">Delete</button>
            </div>
        {{/each}}
    {{else}}
        <!-- User Dashboard -->
        <div class="container-fluid">
            <div class="row content">
                <!-- Sidebar -->
                <div class="col-sm-3 sidenav" style="height: 900px;">
                    <h2>User Dashboard</h2>
                    <p>Username: {{ user.username }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
                    <p>Role: {{ user.role }}</p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/blooms/wishlist">My Wishlist</a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Logout</a>
                        </li>
                    </ul>
                </div>

                <!-- Wishlist Blooms -->
                <div class="col-sm-9" style="background-color: white;">
                    <h2>My Wishlist</h2>
                    {{#each user.blooms}}
                        <div class="my-2 p-2 border bg-light rounded shadow">
                            <h3>{{name}}</h3>
                            <p>{{description}}</p>
                            <button class="btn btn-danger remove-bloom" data-doc="{{this._id}}">Remove from Wishlist</button>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
</div>

<script>
const bloomAction = async (bloomId, action) => {
    let success = false,
        url = `/blooms/${action}/${bloomId}`,
        options = { method: 'POST' };
    try {
        const response = await fetch(url, options);
        success = response.status == 200;
    } catch (err) {
        console.error(err);
    }
    return success;
}

document.querySelectorAll('.delete-bloom').forEach(btn => {
    btn.addEventListener('click', async (e) => {
        e.preventDefault();
        const success = await bloomAction(btn.dataset.doc, 'delete');
        if(success) window.location.reload();
    })
})

document.querySelectorAll('.remove-bloom').forEach(btn => {
    btn.addEventListener('click', async (e) => {
        e.preventDefault();
        const success = await bloomAction(btn.dataset.doc, 'remove');
        if(success) window.location.reload();
    })
})
</script>
