<main class="container py-4">
    <section class="my-2 p-2 border bg-light rounded shadow">
        <img src="{{bloom.image}}" alt="{{bloom.plantName}}" style="width:100%; max-width: 300px; height: auto;">
        <div>
            <h3>{{bloom.plantName}}</h3>
            <p>{{bloom.description}}</p>
            <p><strong>Regions:</strong> 
                {{#each bloom.region}}
                    {{this}}{{#unless @last}}, {{/unless}}
                {{/each}}
            </p>
            <p><strong>Benefits:</strong> 
                {{#each bloom.benefits}}
                    {{this}}{{#unless @last}}, {{/unless}}
                {{/each}}
            </p>
            <p><strong>Growing Conditions:</strong> {{bloom.growingConditions}}</p>
            <p><strong>Price per Seed Packet:</strong> {{bloom.pricePerSeedPacket}}</p>
            <button class="btn btn-success" onclick="addToWishList('{{bloom._id}}')">Add to Wish List</button>
            <a href="/blooms" class="btn btn-secondary">All Blooms</a>
        </div>
    </section>
    <script>
        function addToWishList(bloomId) {
            fetch(`/dashboard/addToWishList/${bloomId}`, { method: 'PUT'})
                .then(response => response.json())
                .then(data => alert(data.message))
                .catch(error => console.error('Error:', error));
        }
    </script>
</main>
